.hide-scrollbar::-webkit-scrollbar {
    display: none !important;
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none !important;  /* IE and Edge */
    scrollbar-width: none !important;  /* Firefox */
  }